---
apiVersion: kubeadm.k8s.io/v1beta2
kind: ClusterConfiguration
kubernetesVersion: "{{ kubernetes_version }}"
apiServerCertSANs:
{% for node in groups['kubemasters'] %}
- {{ hostvars[node].ansible_default_ipv4.address }}
- {{ hostvars[node]["ansible_hostname"] }}
{% endfor %}
- skubem
- 127.0.0.1
nodeRegistration:
  name: "{{ ansible_hostname }}"
certificatesDir: "/etc/kubernetes/pki"
controlPlaneEndpoint: "{{ kubemastervip }}:6444"
etcd:
  external:
    endpoints:
{% for node in groups['kubemasters'] %}
    - "http://{{ hostvars[node].ansible_default_ipv4.address }}:2379"
{% endfor %}
networking:
  podSubnet: "10.100.0.0/24"
apiServerExtraArgs:
  apiserver-count: "{{ apiservercount }}"

---
kind: KubeletConfiguration
apiVersion: kubelet.config.k8s.io/v1beta1
cgroupDriver: systemd
